<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//KO"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.khedu.fitroutine.blog.mapper.BlogMapper">
    <select id="findBlogId" resultType="_long">
        SELECT BLOG_ID
        FROM TB_BLOG
        WHERE MEMBER_ID = #{memberId}
    </select>
    <select id="findBlog" resultType="kr.co.khedu.fitroutine.blog.model.dto.BlogResponse">
        SELECT
            B.BLOG_ID,
            B.INTRODUCE,
            B.GRADE,
            M.NICKNAME,
            M.GENDER
        FROM TB_BLOG B
        JOIN TB_MEMBER M ON B.MEMBER_ID = M.MEMBER_ID
        WHERE B.BLOG_ID = #{blogId}
    </select>
    <update id="updateBlog">
        UPDATE TB_BLOG
        <set>
            <if test="updateRequest.introduce != null">
                INTRODUCE = #{updateRequest.introduce},
            </if>
        </set>
        WHERE BLOG_ID = #{blogId}
    </update>
    <select id="findFollowers" resultType="kr.co.khedu.fitroutine.blog.model.dto.FollowResponse">
        SELECT
            B.BLOG_ID,
            B.GRADE,
            M.NICKNAME,
            M.GENDER
        FROM (
            SELECT FOLLOWER_BLOG_ID
            FROM TB_FOLLOW
            WHERE FOLLOWED_BLOG_ID = #{blogId}
            ORDER BY FOLLOWER_BLOG_ID DESC
            OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
        ) F
        JOIN TB_BLOG B ON F.FOLLOWER_BLOG_ID = B.BLOG_ID
        JOIN TB_MEMBER M ON B.MEMBER_ID = M.MEMBER_ID
    </select>
    <select id="findFollowings" resultType="kr.co.khedu.fitroutine.blog.model.dto.FollowResponse">
        SELECT
            B.BLOG_ID,
            B.GRADE,
            M.NICKNAME,
            M.GENDER
        FROM (
            SELECT FOLLOWED_BLOG_ID
            FROM TB_FOLLOW
            WHERE FOLLOWER_BLOG_ID = #{blogId}
            ORDER BY FOLLOWED_BLOG_ID DESC
            OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
        ) F
        JOIN TB_BLOG B ON F.FOLLOWED_BLOG_ID = B.BLOG_ID
        JOIN TB_MEMBER M ON B.MEMBER_ID = M.MEMBER_ID
    </select>
    <insert id="insertFollow">
        INSERT INTO TB_FOLLOW (FOLLOWER_BLOG_ID, FOLLOWED_BLOG_ID)
        SELECT BLOG_ID, #{followeeId}
        FROM TB_BLOG
        WHERE MEMBER_ID = #{followerId}
    </insert>
    <delete id="deleteFollow">
        DELETE FROM TB_FOLLOW
        WHERE FOLLOWER_BLOG_ID IN (
            SELECT BLOG_ID
            FROM TB_BLOG
            WHERE MEMBER_ID = #{followerId}
        )
        AND FOLLOWED_BLOG_ID = #{followeeId}
    </delete>
</mapper>