<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.khedu.fitroutine.exercise.mapper.ExerciseMapper">
    <select id="getAllExerciseOpenDataList" resultType="kr.co.khedu.fitroutine.exercise.model.vo.ExerciseOpenData">
        SELECT *
        FROM TB_EXERCISE
    </select>

    <select id="getRandomExerciseRoutine" resultType="int">
        SELECT *
        FROM (
            SELECT EXERCISE_ID
            FROM TB_EXERCISE
            <choose>
                <when test='purpose == "DIET"'>
                    WHERE MET BETWEEN 6 AND 12
                </when>
            </choose>
            ORDER BY DBMS_RANDOM.RANDOM
            )
        WHERE ROWNUM &lt;= 5 * #{dayRepeat}
    </select>

    <select id="getExerciseById"
            resultType="kr.co.khedu.fitroutine.exercise.model.vo.ExerciseOpenData">
        SELECT *
        FROM TB_EXERCISE
        WHERE EXERCISE_ID = #{id}
    </select>
</mapper>
