<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//KO"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.khedu.fitroutine.member.mapper.MemberMapper">
    <select id="selectMemberById" resultType="kr.co.khedu.fitroutine.member.model.dto.MemberResponse">
        SELECT
            EMAIL,
            NICKNAME,
            BIRTH_AT,
            PHONE,
            GENDER,
            HEIGHT,
            WEIGHT
        FROM TB_MEMBER
            JOIN TB_MEMBER_DETAIL USING (MEMBER_ID)
        WHERE MEMBER_ID = #{memberId}
    </select>
    <select id="selectMemberByEmail" resultType="kr.co.khedu.fitroutine.member.model.vo.Member">
        SELECT *
        FROM TB_MEMBER
        WHERE EMAIL = #{email}
    </select>
    <select id="selectCurrentPassword" resultType="kr.co.khedu.fitroutine.member.model.dto.MemberPassword">
        SELECT PASSWORD
        FROM TB_MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>
    <insert id="insertMember" parameterType="kr.co.khedu.fitroutine.member.model.dto.MemberCreateRequest">
        <selectKey keyProperty="memberId" order="BEFORE" resultType="long">
            SELECT SEQ_MEMBER_ID.NEXTVAL
            FROM DUAL
        </selectKey>
        INSERT INTO TB_MEMBER
        VALUES (
            #{memberId},
            #{email},
            #{password},
            #{nickname},
            #{gender},
            #{birthAt},
            #{phone},
            DEFAULT,
            DEFAULT
        )
    </insert>
    <insert id="insertMemberDetail" parameterType="kr.co.khedu.fitroutine.member.model.dto.MemberCreateRequest">
        INSERT INTO TB_MEMBER_DETAIL
        VALUES (
            #{memberId},
            #{height},
            #{weight}
        )
    </insert>
    <update id="updateMember" parameterType="kr.co.khedu.fitroutine.member.model.dto.MemberUpdateRequest">
        UPDATE TB_MEMBER
        <set>
            <if test="updateRequest.nickname != null">
                NICKNAME = #{updateRequest.nickname},
            </if>
            <if test="updateRequest.newPassword != null">
                PASSWORD = #{updateRequest.newPassword},
            </if>
            <if test="updateRequest.phone != null">
                PHONE = #{updateRequest.phone}
            </if>
        </set>
        WHERE MEMBER_ID = #{memberId}
    </update>
    <update id="updateMemberDetail" parameterType="kr.co.khedu.fitroutine.member.model.dto.MemberUpdateRequest">
        UPDATE TB_MEMBER_DETAIL
        <set>
            <if test="updateRequest.height != null">
                HEIGHT = #{updateRequest.height},
            </if>
            <if test="updateRequest.weight != null">
                WEIGHT = #{updateRequest.weight}
            </if>
        </set>
        WHERE MEMBER_ID = #{memberId}
    </update>
</mapper>