<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//KO"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.khedu.fitroutine.post.mapper.PostMapper">
    <select id="selectPostsByBlogId" resultType="kr.co.khedu.fitroutine.post.model.dto.PostResponse">
        SELECT
            POST_ID,
            TITLE,
            CONTENT,
            CATEGORY,
            CREATED_AT,
            BLOG_ID
        FROM TB_POST
        WHERE BLOG_ID = #{blogId}
        ORDER BY CREATED_AT DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>
    <select id="selectPostById" resultType="kr.co.khedu.fitroutine.post.model.dto.PostResponse">
        SELECT
            POST_ID,
            TITLE,
            CONTENT,
            CATEGORY,
            CREATED_AT,
            BLOG_ID
        FROM TB_POST
        WHERE POST_ID = #{postId}
    </select>
    <select id="existsPostByMemberId" resultType="int">
        SELECT
            CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM TB_MEMBER M
                    JOIN TB_BLOG B ON M.MEMBER_ID = B.MEMBER_ID
                    JOIN TB_POST P ON B.BLOG_ID = P.BLOG_ID
                    WHERE M.MEMBER_ID = #{memberId}
                    AND P.POST_ID = #{postId}
                )
                THEN 1
                ELSE 0
            END
        FROM DUAL
    </select>
    <insert id="insertPost">
        <selectKey keyProperty="createRequest.postId" resultType="long" order="BEFORE">
            SELECT SEQ_POST_ID.NEXTVAL
            FROM dual
        </selectKey>
        INSERT INTO TB_POST (
            POST_ID,
            TITLE,
            CONTENT,
            CATEGORY,
            BLOG_ID
        )
        VALUES (
            #{createRequest.postId},
            #{createRequest.title},
            #{createRequest.content},
            #{createRequest.category},
            #{blogId}
        )
    </insert>
    <update id="updatePost">
        UPDATE TB_POST
        <set>
            <if test="updateRequest.title != null">
                TITLE = #{updateRequest.title},
            </if>
            <if test="updateRequest.content != null">
                CONTENT = #{updateRequest.content},
            </if>
            <if test="updateRequest.category != null">
                CATEGORY = #{updateRequest.category},
            </if>
        </set>
        WHERE POST_ID = #{postId}
    </update>
    <delete id="deletePost">
        DELETE FROM TB_POST
        WHERE POST_ID = #{postId}
    </delete>
    <select id="selectImagesByPostId" resultType="kr.co.khedu.fitroutine.post.model.dto.ImageResponse">
        SELECT
            IMAGE_ID,
            ORIGIN_NAME,
            CHANGE_NAME,
            POST_ID
        FROM TB_IMAGE
        WHERE POST_ID = #{postId}
    </select>
    <select id="selectImageById" resultType="kr.co.khedu.fitroutine.post.model.dto.ImageResponse">
        SELECT
            IMAGE_ID,
            ORIGIN_NAME,
            CHANGE_NAME,
            POST_ID
        FROM TB_IMAGE
        WHERE IMAGE_ID = #{imageId}
    </select>
</mapper>