<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//KO"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.khedu.fitroutine.todo.mapper.TodoMapper">

    <select id="getRoutineMvpTOP3" resultType="kr.co.khedu.fitroutine.todo.model.dto.RoutineMvpTOP3">
        SELECT NICKNAME, COUNT
        FROM (
            SELECT NICKNAME, COUNT(*) COUNT
            FROM TB_TODO
            JOIN TB_MEMBER USING(MEMBER_ID)
        WHERE EXTRACT(MONTH FROM STARTED_AT) = EXTRACT(MONTH FROM SYSDATE)
            GROUP BY NICKNAME
            ORDER BY 2 DESC
        )
        WHERE ROWNUM &lt;= 3
    </select>

    <select id="getRoutineMvpMyRank" resultType="kr.co.khedu.fitroutine.todo.model.dto.MyRank">
        SELECT RANK, COUNT
        FROM (
            SELECT NICKNAME, COUNT, ROWNUM RANK
            FROM (
                SELECT NICKNAME, COUNT(*) COUNT
                FROM TB_TODO
                JOIN TB_MEMBER USING(MEMBER_ID)
                WHERE EXTRACT(MONTH FROM STARTED_AT) = EXTRACT(MONTH FROM SYSDATE)
                GROUP BY NICKNAME
                ORDER BY 2 DESC
            )
        )
        JOIN TB_MEMBER USING(NICKNAME)
        WHERE MEMBER_ID = #{memberId}
    </select>

    <insert id="createRoutineInfo"
            parameterType="kr.co.khedu.fitroutine.todo.model.dto.RoutineInfo"
            useGeneratedKeys="true" keyProperty="routineInfo.todoId" keyColumn="TODO_ID">
        INSERT INTO TB_TODO VALUES
        (
            SEQ_TODO_ID.NEXTVAL,
            #{memberId},
            #{routineInfo.startedAt},
            #{routineInfo.endedAt},
            #{routineInfo.purpose},
            #{routineInfo.category},
            #{routineInfo.dayRepeat},
            #{routineInfo.tdee},
            #{routineInfo.goalWeight}
        )
    </insert>

    <select id="getTodoIdByMemberId" resultType="long">
        SELECT TODO_ID
        FROM TB_TODO
        WHERE MEMBER_ID = #{memberId}
        AND CATEGORY = 'EXERCISE'
    </select>

    <insert id="insertDailyExercise"
        parameterType="kr.co.khedu.fitroutine.exercise.model.dto.DailyExercise"
        useGeneratedKeys="true" keyProperty="dailyExerciseId" keyColumn="DAILY_EXERCISE_ID">
        INSERT INTO TB_DAILY_EXERCISE VALUES
        (
            SEQ_DAILY_EXERCISE_ID.NEXTVAL,
            #{todoId},
            #{dayNo}
        )
    </insert>

    <insert id="insertExerciseDetail">
        INSERT INTO TB_EXERCISE_DETAIL VALUES
        (
            SEQ_EXERCISE_DETAIL_ID.NEXTVAL,
            #{dailyExerciseId},
            #{exerciseId}
        )
    </insert>

    <select id="getRoutineInfoByTodoId"
            parameterType="long"
            resultType="kr.co.khedu.fitroutine.todo.model.dto.RoutineInfo">
        SELECT
            TODO_ID,
            STARTED_AT,
            ENDED_AT,
            PURPOSE,
            CATEGORY,
            DAY_REPEAT,
            TDEE,
            GOAL_WEIGHT
        FROM TB_TODO
        WHERE TODO_ID = #{todoId}
    </select>

    <select id="getDailyExercisesByTodoId"
            resultType="kr.co.khedu.fitroutine.exercise.model.dto.DailyExercise">
        SELECT DAILY_EXERCISE_ID, DAY_NO
        FROM TB_DAILY_EXERCISE
        WHERE TODO_ID = #{todoId}
    </select>

    <delete id="deleteExerciseDetailByTodoId">
        DELETE FROM TB_EXERCISE_DETAIL
        WHERE DAILY_EXERCISE_ID IN (
        SELECT DAILY_EXERCISE_ID
        FROM TB_DAILY_EXERCISE
        WHERE TODO_ID = #{todoId}
        )
    </delete>

    <delete id="deleteDailyExerciseByTodoId">
        DELETE FROM TB_DAILY_EXERCISE
        WHERE TODO_ID = #{todoId}
    </delete>

    <select id="getExerciseDetailByDailyIds"
            resultType="kr.co.khedu.fitroutine.exercise.model.dto.ExerciseDetail">
        SELECT EXERCISE_DETAIL_ID, DAILY_EXERCISE_ID, EXERCISE_ID
        FROM TB_EXERCISE_DETAIL
        WHERE DAILY_EXERCISE_ID IN
        <foreach item="id" collection="dailyIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="existsById" resultType="boolean" parameterType="long">
        SELECT COUNT(*) > 0
        FROM TB_TODO
        WHERE TODO_ID
    </select>

    <select id="getTodayMenuList" resultType="kr.co.khedu.fitroutine.todo.model.dto.Menu">
        SELECT M.NAME, M.CALORIE
        FROM TB_MENU M
        JOIN TB_MENU_DETAIL MD USING (MENU_ID)
        JOIN TB_DAILY_MENU DM USING (DAILY_MENU_ID)
        JOIN TB_TODO T USING (TODO_ID)
        WHERE T.MEMBER_ID = #{memberId}
        AND DM.DAY_NO = MOD(TRUNC(SYSDATE - STARTED_AT), T.DAY_REPEAT) + 1
    </select>

    <select id="getExerciseToday" resultType="kr.co.khedu.fitroutine.todo.model.dto.TodayRoutine">
        SELECT DISTINCT E.NAME, T.CATEGORY
        FROM TB_EXERCISE E
        JOIN TB_EXERCISE_DETAIL ED ON E.EXERCISE_ID = ED.EXERCISE_ID
        JOIN TB_DAILY_EXERCISE DE ON ED.DAILY_EXERCISE_ID = DE.DAILY_EXERCISE_ID
        JOIN TB_TODO T ON DE.TODO_ID = T.TODO_ID
        WHERE T.MEMBER_ID = #{memberId}
    </select>

    <select id="getTodayExerciseList" resultType="kr.co.khedu.fitroutine.todo.model.dto.Exercise">
        SELECT E.NAME, E.MET
        FROM TB_EXERCISE E
        JOIN TB_EXERCISE_DETAIL ED USING (EXERCISE_ID)
        JOIN TB_DAILY_EXERCISE DE USING (DAILY_EXERCISE_ID)
        JOIN TB_TODO T USING (TODO_ID)
        WHERE T.MEMBER_ID = #{memberId}
        AND DE.DAY_NO = MOD(TRUNC(SYSDATE - STARTED_AT), T.DAY_REPEAT) + 1
    </select>

    <select id="getMenuTodoList" resultType="kr.co.khedu.fitroutine.todo.model.dto.MenuTodoListResponse">
        SELECT TODO_ID, CATEGORY, STARTED_AT, ENDED_AT
        FROM TB_TODO
        WHERE MEMBER_ID = #{memberId} AND
        CATEGORY='MENU'
    </select>

    <select id="getExerciseTodoList" resultType="kr.co.khedu.fitroutine.todo.model.dto.ExerciseTodoListResponse">
        SELECT TODO_ID, CATEGORY, STARTED_AT, ENDED_AT
        FROM TB_TODO
        WHERE MEMBER_ID = #{memberId} AND
        CATEGORY='EXERCISE'
    </select>

    <delete id="deleteTodo">
        DELETE FROM TB_TODO
        WHERE TODO_ID = #{todoId} AND MEMBER_ID = #{memberId}
    </delete>

</mapper>